@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

:root {
  --brand-mint-green-100: #f9fff6;
  --brand-mint-green-200: #e8fedf;
  --brand-mint-green-300: #c0ffa5;
  --brand-mint-green-400: #c6efb6;
  --brand-mint-green-500: #abd799;
  --brand-mint-green-600: #89ae79;
  --brand-mint-green-700: #7d9374;
  --brand-mint-green-800: #6b7e62;
  --brand-mint-green-900: #5c6d55;
  --brand-forest-green-100: #effaf7;
  --brand-forest-green-200: #d8efe8;
  --brand-forest-green-300: #b3dfd2;
  --brand-forest-green-400: #71c4ab;
  --brand-forest-green-500: #48ac8e;
  --brand-forest-green-600: #0b996f;
  --brand-forest-green-700: #02835c;
  --brand-forest-green-800: #006a43;
  --brand-forest-green-900: #004227;
  --brand-forest-green-950: #002e1e;
  --brand-cream-100: #fffdf6;
  --brand-cream-200: #fffaeb;
  --brand-cream-300: #faf5e3;
  --brand-cream-500: #e3dec9;
  --brand-cream-400: #f4eed7;
  --brand-cream-600: #d0cbb5;
  --brand-cream-700: #b7b098;
  --brand-cream-800: #958e7b;
  --brand-cream-900: #797566;
  --brand-charcoal-grey-25: #fafafa;
  --brand-charcoal-grey-50: #f5f5f5;
  --brand-charcoal-grey-75: #d9d9d9;
  --brand-charcoal-grey-100: #f0f0f0;
  --brand-charcoal-grey-200: #e3e3e3;
  --brand-charcoal-grey-300: #cfcfcf;
  --brand-charcoal-grey-400: #b5b5b5;
  --brand-charcoal-grey-500: #858585;
  --brand-charcoal-grey-600: #696969;
  --brand-charcoal-grey-700: #474747;
  --brand-charcoal-grey-800: #2c2c2c;
  --brand-charcoal-grey-900: #1b1b1b;
  --brand-iris-purple-100: #efeefc;
  --brand-iris-purple-200: #dbd9f7;
  --brand-iris-purple-300: #b3aeef;
  --brand-iris-purple-400: #8b83e7;
  --brand-iris-purple-500: #6358de;
  --brand-iris-purple-600: #594fc8;
  --brand-iris-purple-700: #4f46b2;
  --brand-iris-purple-800: #463e9b;
  --brand-iris-purple-900: #3c3585;
  --brand-sky-blue-100: #e6f3ff;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-[var(--brand-mint-green-100)] text-[var(--brand-charcoal-grey-900)] font-sans antialiased;
  }
}
